body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
    padding-top: 50px;
}

.card {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.card-body p {
    margin-bottom: 0.5rem;
}
